
<%- include('partials/head') %>

<h2>Bummer!</h2> 
<h3>Try again tomorrow.</h3>
<div class="result-container">
    <img src="<%= correct.albumImgSrc %>" alt="">
    <h3><%= correct.artist %></h3>
    <h2><%= correct.song %></h2>
    <p><%= correct.releaseYear.substring(0,4) %></p>
</div>
<a class="spot-btn" href="<%= correct.listen %>" target="_blank"><i class="fa-brands fa-spotify"></i> Listen on Spotify</a>

</body>
</html>